.imgg{
    border-radius: 30px!important;
}

.seperatorr{
    border-radius: 50px!important;
}
.co{
    border-radius: 30px!important;
}
.icon{
    border-radius: 15px!important;
}
.divtext{
    font-weight: bold;
}