
.forms .form-control {
  height: 40px;
  border-radius: 10px; /* Adjust the height value as needed */
}
.mess .form-control {
  border-radius: 10px;
  height: 150px;
  font-size: 14px; /* Adjust the height value as needed */
}

.contbtn button {
  border-radius: 12px!important;
}