
.forms .form-control {
  height: 40px;
  border-radius: 10px; /* Adjust the height value as needed */
}
.mess .form-control {
  resize: vertical;
  border-radius: 10px; /* Adjust the height value as needed */
}

.contbtn{
  border-radius: 90px!important;
}